*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color:#5DC7E5 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-login{
    width: 450px;
    border-right: 20px solid #4285F4;
    border-radius: 5px;
    background-color: white;
    padding: 25px;
   
}
.form__title{
    color: #4285F4;
    font-weight: 900;
    margin-bottom: 20px;
}
.form__label{
    font-size: 14px;
    display: inline-block;
    margin-top: 14px;
    margin-bottom: 5px;
}
.form__input{

        width: 100%;
        height: 40px;
        border: none;
        margin-bottom: 10px;
        background-color: #E5E5E5;
        border-radius: 5px;
    
}

.form__remember{
    font-size: 10px;
    margin-left: 10px;
}
a{
  text-decoration: none;
  color:#4285F4 ;
  display: inline-block;
  margin-left: 140px;
}
.form__btn{
    width: 100%;
    height: 40px;
    margin-top: 26px;
    border: none;
    border-radius: 5px;
    background-color: #4285F4;
    color: white;
    font-weight: 600;
}